
<html>
<body>
<center><h1>Message from server {{ ansible_eth0.ipv4.address }} </h1></center>
<center><h1> {{WelcomeMessage}} </h1></center>
<center><h1> {{SampleVariable}} </h1></center>
</body>
</html>

